[part="monkey-toast"],
::part(monkey-toast) {
  left: 10px !important;
  bottom: 17% !important;
  color: #fff !important;
  font-size: 13px !important;
  padding: 6px 15px !important;
  border-radius: 5px !important;
  position: absolute !important;
  z-index: 2147483647 !important;
  font-weight: normal !important;
  transition: opacity 0.3s ease-in !important;
  background: rgba(0, 0, 0, 0.75) !important;
}

/**
* 视频网页全屏
*/
.__webFullScreen,
::part(__webFullScreen) {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  width: 100vw !important;
  min-width: 0 !important;
  min-height: 0 !important;
  height: 100vh !important;
  position: fixed !important;
  transform: none !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  transition: none !important;
  z-index: 2147483646 !important;
  background-color: #000 !important;
}

@mixin __tsr() {
  transform: rotate(var(--rotate, 0deg)) scale(var(--scale, 1)) scale(var(--zomm, 1)) scaleX(var(--mirror, 1))
    translate(var(--moveX, 0), var(--moveY, 0)) !important;
}

.__webFullScreen video,
::part(__video) {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: contain !important;
  @include __tsr();
}

/**
* 视频水平翻转、旋转角度
*/
.__tsr,
::part(__tsr) {
  object-fit: contain !important;
  transform-origin: center !important;
  transition: transform 0.35s !important;
  @include __tsr();
}

/**
* 隐藏鼠标光标
*/
.__hc,
::part(__hc) {
  cursor: none !important;
}

/**
* 拾取剧集、更多设置弹窗样式
*/
.monkey-web-fullscreen {
  z-index: 9999999999 !important;

  .swal2-popup {
    font-size: 14px !important;
  }

  .swal2-confirm {
    background-color: #7066e0 !important;
  }

  .swal2-deny {
    background-color: #dc3741 !important;
  }

  .swal2-cancel {
    background-color: #757575 !important;
  }

  h4 {
    color: red;
    margin: 0 auto;
  }

  p {
    color: #999;
    font-size: 12px;
  }

  #__picker {
    width: 100%;
    height: auto;
    max-width: 25em;
    font-size: 14px;
    margin-bottom: 0;
    min-height: 10em;
    resize: vertical;
  }

  .hide {
    display: none !important;
  }

  .__menu {
    color: #666;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    float: none !important;
    align-items: center !important;
    margin-bottom: 15px !important;
    justify-content: space-between !important;

    &:hover {
      color: #333;
    }

    &:last-of-type {
      margin-bottom: 0 !important;
    }

    input {
      outline: none;
      cursor: pointer;
      opacity: 1 !important;
      width: 20px !important;
      height: 20px !important;
      position: static !important;
      appearance: auto !important;
      -webkit-appearance: auto !important;
    }
  }

  table {
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse;
  }

  th {
    font-weight: 600;
  }

  th,
  td {
    line-height: 28px;
    vertical-align: middle;
    border: 1px solid #e5e6eb;
  }

  th,
  tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
}

.notyf {
  z-index: 9999999999 !important;

  .notyf__message {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

/* 隐藏B站的提示 START */
.login-tip,
.login-guide,
.live-room-app #sidebar-vm,
.lite-room .bili-mini-mask,
.live-room-app #prehold-nav-vm,
.live-room-app #shop-popover-vm,
.risk-captcha-adapt .bili-mini-mask,
#bilibili-player .bpx-player-toast-wrap,
#bilibili-player .bpx-player-cmd-dm-wrap,
#bilibili-player .bpx-player-dialog-wrap {
  display: none !important;
}
/* 隐藏B站的提示 END */

#buffer,
#install,
#a1 #tips,
#player #tips,
.player-overlay,
.memory-play-wrap,
.atom-notice-click,
#loading._noplayer,
#player #loading-box,
.dplayer-notice strong,
.air-player-loading-box,
.art-layer-autoPlayback,
.art-layer-auto-playback,
.invoke-app-floating-tips,
.invoke-app-san-container {
  display: none !important;
}

/* 现代浏览器（支持 :has()）使用原生选择器 */
@supports (selector(:has(div))) {
  #loading:not(:has([class*="player"])) {
    display: none !important;
  }
}
