[part="monkey-toast"],
::part(monkey-toast) {
  left: 10px !important;
  bottom: 16% !important;
  color: #fff !important;
  font-size: 13px !important;
  padding: 6px 10px !important;
  border-radius: 5px !important;
  position: absolute !important;
  z-index: 2147483647 !important;
  font-weight: normal !important;
  transition: opacity 0.3s ease-in !important;
  background: rgba(0, 0, 0, 0.75) !important;
}

/** 视频网页全屏相关样式 START **/
::part(webFullscreen),
[part*="webFullscreen"],
body[part*="webFullscreen"] [part*="webFullscreen"] {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  zoom: normal !important;
  border: none !important;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  transform: none !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  transition: none !important;
  z-index: 2147483646 !important;
  background-color: #000 !important;
  flex-direction: column !important;
  overflow: hidden !important;
  display: flex !important;
}

[part*="webFullscreen"] {
  /** 为 control 做特殊处理 */
  .vjs-control-bar,
  .ytp-chrome-bottom,
  .ytp-chapter-hover-container {
    left: 0 !important;
    width: 100vw !important;
  }

  .__flex-1 {
    flex: 1 !important;
  }
}

@mixin __tsr($def: null) {
  transform: #{$def} /**默认变换*/ scale(var(--scale, 1)) scale(var(--zoom, 1)) /**放大缩小*/ scaleX(var(--mirror, 1)) /**镜像反转*/
    rotate(var(--rotate, 0deg)) /**旋转*/ translate(var(--moveX, 0), var(--moveY, 0)) /**平移*/ !important;
}

::part(__video),
[part*="webFullscreen"] video {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: clamp(calc(100vh - 100%), 100vh, 100%) !important;
  object-fit: contain !important;
  @include __tsr();
}
/** 视频网页全屏相关样式 END **/

/** 视频变换样式 */
::part(__tsr),
[part*="__tsr"] {
  object-fit: contain !important;
  transform-origin: center !important;
  transition: transform 0.35s !important;
  @include __tsr("var(--deftsr, matrix(1, 0, 0, 1, 0, 0))");
}

/** 隐藏鼠标光标 **/
::part(__hc),
[part*="__hc"] {
  cursor: none !important;
}

/** 拾取剧集、更多设置弹窗样式 **/
.monkey-web-fullscreen {
  z-index: 9999999999 !important;

  .swal2-popup {
    font-size: 14px !important;
  }

  button:where(.swal2-styled) {
    &:focus {
      box-shadow: 0 0 0 1px rgba(100, 150, 200, 0.5) !important;
    }
  }

  .swal2-confirm {
    background-color: #7066e0 !important;
  }

  .swal2-deny {
    background-color: #dc3741 !important;
  }

  .swal2-cancel {
    background-color: #757575 !important;
  }

  button:where(.swal2-close) {
    color: #666 !important;
    font-size: 1.7em !important;
    font-weight: bolder !important;
  }

  h4 {
    color: red !important;
    margin: 0 auto !important;
    font-size: 18px !important;
    font-weight: normal !important;
  }

  p {
    color: #999 !important;
    margin-top: 0 !important;
    font-size: 12px !important;
  }

  #__picker {
    width: 100% !important;
    height: auto !important;
    max-width: 25em !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
    min-height: 10em !important;
    resize: vertical !important;

    &:focus {
      box-shadow: 0 0 0 1px rgba(100, 150, 200, 0.5) !important;
    }
  }

  .hide {
    display: none !important;
  }

  .__menu {
    color: #666;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    float: none !important;
    align-items: center !important;
    margin-bottom: 15px !important;
    justify-content: space-between !important;

    &:hover {
      color: #333;
    }

    &:last-of-type {
      margin-bottom: 0 !important;
    }

    input {
      outline: none;
      cursor: pointer;
      opacity: 1 !important;
      width: 20px !important;
      height: 20px !important;
      position: static !important;
      appearance: auto !important;
      -webkit-appearance: auto !important;
    }
  }

  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  th {
    font-weight: 600 !important;
  }

  th,
  td {
    line-height: 2 !important;
    font-size: 13px !important;
    vertical-align: middle !important;
    border: 1px solid #e5e6eb !important;
  }

  tr:nth-child(odd) {
    background-color: #f8f8f8 !important;
  }
}

.notyf {
  z-index: 9999999999 !important;

  .notyf__message {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

/** 隐藏B站的提示 START **/
.login-tip,
.login-guide,
.live-room-app #sidebar-vm,
.lite-room .bili-mini-mask,
.live-room-app #prehold-nav-vm,
.live-room-app #shop-popover-vm,
.risk-captcha-adapt .bili-mini-mask,
#bilibili-player .bpx-player-toast-wrap,
#bilibili-player .bpx-player-cmd-dm-wrap,
#bilibili-player .bpx-player-dialog-wrap {
  display: none !important;
}
/** 隐藏B站的提示 END **/

#buffer,
#install,
#a1 #tips,
#player #tips,
.player-overlay,
.memory-play-wrap,
.atom-notice-click,
#loading._noplayer,
#player #loading-box,
.dplayer-notice strong,
.air-player-loading-box,
.art-layer-autoPlayback,
.art-layer-auto-playback,
.invoke-app-floating-tips,
.invoke-app-san-container {
  display: none !important;
}

/** 现代浏览器（支持 :has()）使用原生选择器 **/
@supports (selector(:has(div))) {
  #loading:not(:has([class*="player"])) {
    display: none !important;
  }
}
