[part="monkey-show-toast"],
::part(monkey-show-toast) {
  color: #fff !important;
  font-size: 13.5px !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  position: absolute !important;
  z-index: 2147483647 !important;
  font-weight: normal !important;
  transition: opacity 300ms ease-in;
  background: rgba(0, 0, 0, 0.75) !important;
}

#bilibili-player {
  /* B站的登录、一键三连提示 */
  .bpx-player-toast-wrap,
  .bpx-player-cmd-dm-wrap,
  .bpx-player-dialog-wrap {
    display: none !important;
  }
}
/* B站直播样式 START */
.live-room-app {
  #sidebar-vm,
  #prehold-nav-vm,
  #shop-popover-vm {
    display: none !important;
  }
}

.login-tip {
  display: none !important;
}
/* B站直播样式 END */

.monkey-web-fullscreen {
  z-index: 9999999999 !important;

  h2 {
    font-size: 24px;
  }

  h4 {
    color: red;
    margin: 0 auto;
  }

  p {
    color: #999;
    font-size: 12px;
  }

  .swal2-confirm {
    background-color: #7066e0 !important;
  }

  .swal2-deny {
    background-color: #dc3741 !important;
  }

  #monkey-picker {
    width: 25em;
    height: auto;
    font-size: 14px;
    margin-bottom: 0;
    min-height: 10em;
    resize: vertical;
  }

  .hide {
    display: none !important;
  }

  ._menuitem {
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 15px;

    label {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
    }

    input {
      width: 20px !important;
      height: 20px !important;
      appearance: auto !important;
      -webkit-appearance: auto !important;
    }
  }
}

.notyf {
  z-index: 9999999999 !important;

  .notyf__message {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

.player-overlay,
.memory-play-wrap,
.atom-notice-click,
#player #loading-box,
.xgplayer [id*="tips"],
.dplayer-notice strong,
.air-player-loading-box,
.art-layer-autoPlayback,
.art-layer-auto-playback {
  display: none !important;
}

/* 现代浏览器（支持 :has()）使用原生选择器 */
@supports (selector(:has(div))) {
  #loading:not(:has([class*="player"])) {
    display: none !important;
  }
}

/* 旧版浏览器使用替代选择器 需配合JS */
@supports not (selector(:has(div))) {
  #loading.not-player {
    display: none !important;
  }
}

// .xgplayerr [id*="tips"]  https://www.libvio.fun、https://www.nmdvd.cc、https://www.vv3nwjk.com/
// .memory-play-wrap        https://www.xgdy.xyz、https://vidhub.tv、https://www.mervod.com
// #player #loading-box     https://vidhub.tv
// art-layer-autoPlayback   https://www.renren.pro
// .dplayer-notice strong   https://www.ffys.fun
