.MacPlayer {
  border-radius: 0 !important;
}

#player_iframe {
  background: #000 !important;
}

.webFullScreen {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  z-index: 2147483646 !important;
  margin: 0 !important;
  padding: 0 !important;
}

#zhuXian a {
  font-size: 12px !important;
  margin: 0 !important;
}

.nav-area {
  margin-bottom: 20px;
}

#bkcl,
.ABP-Text,
.tuiguang,
.play-full,
.login-box,
.line_button2,
.newhd:first-child {
  display: none !important;
}
