#zhuXian a {
  margin: 0 !important;
  font-size: 12px !important;
}

.nav-area {
  margin-bottom: 20px;
}

#bkcl,
.newhd,
.ABP-Text,
.tuiguang,
.play-full,
.login-box,
.line_button2 {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

.ABP-Unit .ABP-Comment-List {
  display: none !important;
}

.ABP-Unit,
.ABP-Unit .ABP-Player {
  width: 100% !important;
  height: 100% !important;
}
