[gm_webfullscreen],
body[gm_webfullscreen] [gm_webfullscreen] {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  zoom: normal !important;
  border: none !important;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  transform: none !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  transition: none !important;
  z-index: 2147483646 !important;
  background-color: #000 !important;
  flex-direction: column !important;
  overflow: hidden !important;
  display: flex !important;
}

[gm_webfullscreen] video,
body[gm_webfullscreen] [gm_webfullscreen] video {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  border: none !important;
  transform: none !important;
  object-fit: contain !important;
  height: clamp(calc(100vh - 100%), 100vh, 100%) !important;
}

/** 隐藏后面的兄弟元素 */
[gm_webfullscreen] ~ *:not(.monkey-web-fullscreen) {
  display: none !important;
}
