@mixin __tsr($def: null) {
  transform: #{$def} /**默认变换*/ scale(var(--scale, 1)) scale(var(--zoom, 1)) /**放大缩小*/ scaleX(var(--mirror, 1))
    /**镜像反转*/ rotate(var(--rotate, 0deg)) /**旋转*/ translate(var(--mvX, 0), var(--mvY, 0)) /**平移*/ !important;
}

/** 视频变换样式 */
.__tsr {
  object-fit: contain !important;
  transform-origin: center !important;
  transition: transform 0.35s !important;
  @include __tsr("var(--deftsr, matrix(1, 0, 0, 1, 0, 0))");
}

[gm_webfullscreen] video,
body[gm_webfullscreen] [gm_webfullscreen] video {
  &.__tsr {
    @include __tsr();
  }
}
