/** ========== 悬浮小窗 ========== **/
.vc-nano-wrap {
  bottom: 80px;
  display: none;
  position: fixed;
  min-width: 500px;
  min-height: 300px;
  pointer-events: none;
  left: calc(100vw - 580px);
  z-index: 2147483646 !important;

  &.active {
    display: block;
  }

  &:hover {
    .vc-nano-header {
      background-color: #373535;
    }
  }
}

.vc-nano-header {
  cursor: move;
  height: 30px;
  position: relative;
  pointer-events: all !important;
  background-color: transparent;
}

.vc-nano-close {
  top: 0;
  right: 0;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
}

.vc-nano-content {
  position: absolute !important;
  background: #000 !important;
  pointer-events: all !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.vc-nano-player {
  width: inherit !important;
  height: inherit !important;

  video {
    width: 100% !important;
    height: 100% !important;
    position: unset !important;

    &:not(.__tsr) {
      transform: none !important;
    }
  }
}
