/** 视频网页全屏相关样式 START **/
::part(webFullscreen),
[part*="webFullscreen"],
body[part*="webFullscreen"] [part*="webFullscreen"] {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  zoom: normal !important;
  border: none !important;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  transform: none !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  transition: none !important;
  z-index: 2147483646 !important;
  background-color: #000 !important;
  flex-direction: column !important;
  overflow: hidden !important;
  display: flex !important;
}

/** 隐藏后面的兄弟元素 */
[part*="webFullscreen"] ~ *:not(.monkey-web-fullscreen) {
  display: none !important;
}

/** 增强选择器优先级 **/
[part*="webFullscreen"] video,
body[part*="webFullscreen"] [part*="webFullscreen"] video {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  border: none !important;
  height: clamp(calc(100vh - 100%), 100vh, 100%) !important;
  object-fit: contain !important;
}
/** 视频网页全屏相关样式 END **/

.monkey-web-fullscreen {
  z-index: 2147483647 !important;

  * {
    box-sizing: border-box !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .swal2-cancel {
    background-color: #757575 !important;
  }

  textarea {
    color: #333;
    border-radius: 3px;
    width: 100% !important;
    resize: none !important;
    font-size: 12px !important;
    padding: 3px 5px !important;
    box-shadow: none !important;
    min-height: 8rem !important;
    border: 1px solid #cbd5e1 !important;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #cbd5e1;
      border-radius: 3px;
    }

    &:focus {
      outline: none !important;
      border-color: #3b82f6 !important;
    }
  }
}

/** 视频侧边双击元素样式 */
.video-edge-click {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAipJREFUSEutlTFoFEEUhr+3nKhFwMouKIqNFhYixC6m0E5UMFhI0F4UBY1GbzPZQyVJF7BSUBCNuZBLaWVMp6LYaaWiSBAtFLSKhH2yc3thd2/nbk6cbtl//n/+ef97I/SwNOJZApeQg77bxBeY4DRCUwHvfd7A/yKgExiEbWzghlzlfdFdJwd6k92scQnls4xjWntzDjTiHnAaeEnMETF8z4q4BFLyOrAHuC8hZ8oFmqdoAZ+whWNyjtUWOD1AUuR1ggL5WyoMyxjvSgXsPWdFhHmpMtwpCBrxGtgHtJHbQJRtXhcR3kiVkS4CSXT7qDCSPbnTQS+x9cF6xVQNm4DtbGZFRvntQ9yTAzUMEjS7GHiMcEeqLPkISdr+gwVwLmo6SR+r/CpgPgB3iamL4aNLrFxAmZZxLhd6YBY46SBqAHPENMSwlsV41cDGt8YQytMu1/IFmCVmUQwvnDF1kWhkx8dOn7sHloipeTuwLiKuALc8BRLYcnmjzbCRn0wDP7KDSw07CEiK23kJ34BHwO02ATVsJeABcCgZehIyUCj2AnDcofAKqKfFtsnKT9Mau1AeAvutvZKXSyM7m+baBISzBDTkGl+dKdKIReCoi9zWwVAhsLnvzxAtE3NYDH+KwnkHzQdnLzEXxPCpQ5omIdcnoxIyVYbvKUUtAjUMEPA8/V4h4IBcJ+mBkpvrlgjHf41s0w0BMxJy3kXzTw5sLSY4gXAK4aJU3dH9C5MTtb2fy3n/AAAAAElFTkSuQmCC"),
    pointer !important;
  top: 0 !important;
  left: 0 !important;
  width: 30px !important;
  height: 80% !important;
  position: absolute !important;
  z-index: 2147483647 !important;
  background-color: transparent !important;
  opacity: 0 !important;

  &:nth-child(2) {
    right: 0 !important;
    left: auto !important;
  }
}

/** 为侧边双击元素的父元素设置相对定位 */
:has(> .video-edge-click) {
  position: relative;
}
